body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

* {
  cursor: none;
  box-sizing: border-box;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;