body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@keyframes eatingBeiley {
  0% {
    background-image: url(/assets/beiley-feeding/openMouth.jpg);
  }
  49% {
    background-image: url(/assets/beiley-feeding/openMouth.jpg);
  }

  50% {
    background-image: url(/assets/beiley-feeding/closedMouth.jpg);
  }

  100% {
    background-image: url(/assets/beiley-feeding/closedMouth.jpg);
  }
}

.eating-beiley {
  animation-name: eatingBeiley;
  animation-iteration-count: infinite;
  animation-duration: 200ms;
}

@tailwind base;
@tailwind components;
@tailwind utilities;